@charset "utf-8";

input[type="text"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}

.list-box {margin-top:55px; }
.list-box .list_title{background:#d2364c; color:#fff; display:block; width:100%; height:36px; line-height:36px; padding:0px; text-align:center; font-size:14px; font-weight:600; }
.list-box .list_row{width:100%; margin-top:10px; padding-left:10px; text-align:left; }
.list-box .list_row .no-item {width:100%; text-align:center; }
.list-box .list_row .btn_view{display:inline-block; width:75%; height:30px; line-height:30px; color:#db3e54; background-color:#fee; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-left:10px; border:1px solid #e6e6e6; text-align:left; border-radius:5px; }
.list-box .list_row .btn_opt{display:inline-block; width:20%; height:30px; line-height:30px; color:#888; background-color:#ffe; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding:0px; border:1px solid #e6e6e6; text-align:center; border-radius:5px; }
